@import 'vars';

.main {
  height: 100vh;
  background-color: $background-color;
  position: relative;
}
.flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 320px;
  height: 100%;
  justify-content: center;
}
.cardContainer {
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  &__img {
    width: 290px;
    border-radius: 10px;
    height: 290px;
  }
}
.textContainer {
  width: 91%;
  margin: 0 auto;
}
.text {
  font-size: 15px;
  font-weight: 400;
  color: $text-color;
  text-align: center;
  margin: 15px 0;
}
.textBold {
  font-size: 18px;
  color: $text-color2;
  text-align: center;
  margin: 15px 0;
}
.buttons {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 10px;
  justify-content: space-around;
  -webkit-animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}